@charset "UTF-8";

.mainWrap{
	width: 80%;
	height:auto;
	margin: 160px auto;
}

.mainWrap > .docTitle{
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	color: white;
}

.mainWrap > .projectWriteWrap{
	display:flex;
	flex-direction:column;
	width:1000px;
	margin:0 auto;
	padding:80px 0;
}

.mainWrap > .projectWriteWrap > *{
	width:80%;
	height:100%;
	border:1px solid white;
	margin:10px auto;
	font-size:16px;
}

.mainWrap > .projectWriteWrap > li > .title{
	font-size: 40px;
	font-weight: bold;
	color:white;
}

.mainWrap > .projectWriteWrap > li > ul{
	padding-top:10px;
}



/*Title input Area*/
.mainWrap > .projectWriteWrap > .titleArea > .titleInputArea > li > input{
	width:100%;
	height:40px;
	font-size:20px;
	padding:3px;
	box-sizing: border-box;
	border-radius: 5px;
}


/*Main Image Btn Area*/
.mainWrap > .projectWriteWrap > .mainImageArea > .mainImgBtnArea > .mainImgBtn{
	font-size:20px;
	font-weight:bold;
	background: white;
	line-height: 26px;
	border-radius: 25px;
	padding:5px 10px;
	width:80px;
	overflow: hidden;
	text-shadow: 1px 1px white, 3px 3px 5px black;
}

.mainWrap > .projectWriteWrap > .mainImageArea > .mainImgBtnArea > .mainImgBtn > #hiddenUploadBtn{
	display: none;
}

.mainWrap > .projectWriteWrap > .mainImageArea > .mainImgBtnArea > .fileArea{
	display: flex;
	padding:10px 0;
	align-items: center;
}

.mainWrap > .projectWriteWrap > .mainImageArea > .mainImgBtnArea > .fileArea > span{
	font-size:16px;
	color: white;
	display: inline-block;
}

.mainWrap > .projectWriteWrap > .mainImageArea > .mainImgBtnArea > .fileArea > .fileName{
	font-size:16px;
	font-weight:bold;
	color: white;
	display: inline-block;
}

.mainWrap > .projectWriteWrap > .mainImageArea > .mainImgBtnArea > .fileArea > .fileDelBtn{
	background:white;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left:7px;
	cursor: pointer;
}

.mainWrap > .projectWriteWrap > .mainImageArea > .mainImgBtnArea > .fileArea > .fileDelBtn > .effect1{
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width:3px;
	height: 3px;
	margin:0 auto;
	transform: rotate(-45deg);
}

.mainWrap > .projectWriteWrap > .mainImageArea > .mainImgBtnArea > .fileArea > .fileDelBtn > .effect2{
	border-right: 1px solid black;
	border-top: 1px solid black;
	width: 3px;
	height: 3px;
	margin:1px auto;
	transform: rotate(-45deg);
}

/* Participants */

.mainWrap > .projectWriteWrap > .teams > .memberArea > .memberInsert > span{
	font-size: 16px;
	color: white;
}

.mainWrap > .projectWriteWrap > .teams > .memberArea > .memberInsert > .memberName{
	font-size:16px;
	width: 160px;
	padding: 5px 15px;
	border-radius: 3px;	
}

.mainWrap > .projectWriteWrap > .teams > .memberArea > .memberList{
	width:500px;
	height:300px;
	border:1px solid white;
	font-size: 14px;
	color:white;
	margin: 15px 0;
}
.mainWrap > .projectWriteWrap > .teams > .memberArea > .memberList > ul > li > span{
	display: inline-block;
	margin:8px;
	
}

.mainWrap > .projectWriteWrap > .teams > .memberArea > .memberList > ul > li > span:nth-child(1){
	width:30px;
}
.mainWrap > .projectWriteWrap > .teams > .memberArea > .memberList > ul > li > span:nth-child(2){
	width:120px;
}
.mainWrap > .projectWriteWrap > .teams > .memberArea > .memberList > ul > li > span:nth-child(3){
	width:60px;
}
.mainWrap > .projectWriteWrap > .teams > .memberArea > .memberList > ul > li > span:nth-child(4){
	width:60px;
}

.mainWrap > .projectWriteWrap > .teams > .memberArea > .memberList > .memberHeader{
	border-bottom: 1px solid white;
	box-sizing: border-box;
}

.mainWrap > .projectWriteWrap > .teams > .memberArea > .memberList > .memberBody {
	overflow-y:scroll;
	height: calc( 100% - 30px);
}

/* projectTermArea */

.mainWrap > .projectWriteWrap > .projectTermArea > ul > li {
	font-size:16px;
	color: white;
}

.mainWrap > .projectWriteWrap > .projectTermArea > ul > li > * {
	display: inline-block;
}
.mainWrap > .projectWriteWrap > .projectTermArea > ul > li > select{
	font-size:16px;
	color: black;
}

/* contents */

.mainWrap > .projectWriteWrap > .contentsArea > .addContent{
	padding:5px 10px;
	border-radius: 10px;
	background: white;
	text-align: center;
	display: inline-block;
	font-size:18px;
	font-weight: bold;
	cursor: pointer;
}

.mainWrap > .projectWriteWrap > .contentsArea > ul > .content{
	margin-top:30px;
	width:90%;
}

.mainWrap > .projectWriteWrap > .contentsArea > ul > .content > *{
	margin:10px 0 5px 10px;
}

.mainWrap > .projectWriteWrap > .contentsArea > ul > .content > .seq{
	font-size:26px;
	color: white;
	font-weight: bolder;
	margin-left:0px;
}

.mainWrap > .projectWriteWrap > .contentsArea > ul > .content > .subject{
	font-size:20px;
	color: white;	
	background: none;
	width:calc( 100% - 20px);
	padding:2px 10px;
	box-sizing: border-box;
	outline: none;
	border:1px solid white;
}

.mainWrap > .projectWriteWrap > .contentsArea > ul > .content > .editor > .items{
	width:100%;
	height: auto;
	display: flex;
	align-items: center;
	margin:5px 0;
}

.mainWrap > .projectWriteWrap > .contentsArea > ul > .content > .editor > .items > .imgBtn{
	border:1px solid white;
	border-radius: 5px;
	padding: 3px 5px;
	color: white;
}



.mainWrap > .projectWriteWrap > .contentsArea > ul > .content > .editor > .textArea{
	font-size:18px;
	color:white;
	width:100%;
	height:250px;
	padding:10px;
	outline: none;
	border:1px solid white;
	overflow-y:scroll;
	box-sizing: border-box;
}

.mainWrap > .projectWriteWrap > .contentsArea > ul > .content > .editor > .textArea:empty:before{
  content: attr(placeholder);
  color:gray;
  font-size: 16px;
}

.mainWrap > .projectWriteWrap > .btnArea{
	text-align: right;
}

.mainWrap > .projectWriteWrap > .btnArea > .submitBtn{
	padding: 5px 10px;
	background: white;
	font-size: 22px;
	font-weight: bold;
	text-shadow:  1px 1px white, 2px 2px 5px black;
	border-radius: 20px;
	cursor: pointer;
}
