@charset "UTF-8";

.mainWrap{
	width: 80%;
	height:auto;
	background:	#eee;
	margin: 0 auto;
}

.mainWrap > .mainTitle{
	
	font-size:30px;
	font-weight: bold;
	font-style:italic;
	padding:20px 0 0 20px;
	text-indent:40px;
}

.mainWrap > .projectInfoWrap{
	display:grid;
	width:1080px;
	margin:0 auto;
	padding:45px 0;
	grid-template-areas:
						"mainImg mainImg info info info info"
						"subImgTitle subImgTitle subImgTitle subImgTitle subImgTitle subImgTitle"
						"subImg subImg subImg subImg subImg subImg"
						"contents contents contents contents docs docs"
						"review review review review review review"
						".. .. btn btn .. ..";
	grid-template-columns: repeat(auto-fill, minmax(15%,auto));
	grid-template-rows: auto 66px auto 500px 300px 150px; /* 각 열(가로줄)의 길이 */	
	column-gap: 2%; /* 자식요소간의 간격 */
	row-gap:1%;
}

.mainWrap > .projectInfoWrap > *{
	width:100%;
	height:100%;
}


.mainWrap > .projectInfoWrap > .mainImgArea{
	grid-area:mainImg;
	position:relative;
	width:300px;
	height:350px;
}

.mainWrap > .projectInfoWrap > .mainImgArea > img{
	display: block;
	width: 100%;
	height:100%;
	border: 1px solid black; 	
}

.mainWrap > .projectInfoWrap > .mainImgArea > .mainImgBtn{
	position:absolute;
	bottom:-1px;
	right:-1px;
	padding:5px;
	border:1px solid black;
	border-top-left-radius:6px;
	background: #cef;
}

.mainWrap > .projectInfoWrap > .mainImgArea > .mainImgBtn > label{
	display:inline-block;
	cursor: pointer;
	width:100%;
	height:100%;
	font-size:18px;
}

.mainWrap > .projectInfoWrap > .mainImgArea > .mainImgBtn > input[type="file"]{
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border:0;
}

.mainWrap > .projectInfoWrap > .infoArea{		
	grid-area: info;
	font-size:26px;
	border:1px solid black;
}

.mainWrap > .projectInfoWrap > .infoArea > li{		
	width:80%;
	height:80px;
	margin:30px auto;
}




.mainWrap > .projectInfoWrap > .infoArea > .projectSubject{
	height:auto;
}

.mainWrap > .projectInfoWrap > .infoArea > .projectSubject> span > input{		
	width:80%;
	height:30px;
	border-radius: 10px;
	font-size: 18px;
	padding:5px;
	outline: none;
}
.mainWrap > .projectInfoWrap > .infoArea > .projectTerm{
	font-size:16px;
	display:flex;
	flex-wrap:wrap;
	height:auto;
}
.mainWrap > .projectInfoWrap > .infoArea > .projectTerm > strong{
	width:100%;
	margin-bottom:10px;
	font-weight:bold;
	font-size:18px;
}

.mainWrap > .projectInfoWrap > .infoArea > .projectTerm > span{
	width:50%;
}

.mainWrap > .projectInfoWrap > .infoArea > .technologiesUsed{
	display:flex;
	flex-wrap:wrap;
}

.mainWrap > .projectInfoWrap > .infoArea > .technologiesUsed > strong{
	width:100%;
	margin-bottom:10px;
	font-weight:bold;
	font-size:18px
}

.mainWrap > .projectInfoWrap > .infoArea > .technologiesUsed >.inputArea {
	width:100%;
}

.mainWrap > .projectInfoWrap > .infoArea > .technologiesUsed >.technologiesTag {
	width:100%;
	font-size:15px;
	font-weight: bold;
	margin-top:15px;
}

.mainWrap > .projectInfoWrap > .infoArea > .technologiesUsed >.technologiesTag > .tag{
	line-height:20px;
	font-size:13px;
	font-weight: bold;
	margin-top:15px;
	border:1px solid black;
	border-radius:12px;
	background: #ffbfbf;
	padding:4px;
	margin:4px 4px;
}

.mainWrap > .projectInfoWrap > .infoArea > .technologiesUsed >.technologiesTag > .tag > .delTag{
	color:white;
	margin-left:5px;
	font-size:16px;
	cursor: pointer;
}

.mainWrap > .projectInfoWrap > .subImgTitleArea{
	grid-area: subImgTitle;
	width:100%;
	height:66px;
	position:relative;;
}

.mainWrap > .projectInfoWrap > .subImgTitleArea > .subImgTitle{
	font-size: 24px;
	font-weight: bold;
	padding:20px;
	border:1px solid black;
}

.mainWrap > .projectInfoWrap > .subImgTitleArea > .subImgBtn{
	position:absolute;
	top:10px;
	right:10px;
	padding:5px;
	border:1px solid black;
	border-radius:5px;
	background: #cef;
}

.mainWrap > .projectInfoWrap > .subImgTitleArea > .subImgBtn > label{
	display:inline-block;
	cursor: pointer;
	width:100%;
	height:100%;
	font-size:22px;
	line-height: 35px;
	padding:0 20px;
	font-weight: 400;
	box-sizing: border-box;
}

.mainWrap > .projectInfoWrap > .subImgTitleArea > .subImgBtn > input[type="file"]{
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border:0;
}


.mainWrap > .projectInfoWrap > #carouselArea{
	grid-area: subImg;
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}

.mainWrap > .projectInfoWrap > #carouselArea > .subImgArea{
}

.mainWrap > .projectInfoWrap > #carouselArea > .subImgArea > .subImg{
	height:100%;
	border:1px solid black;
	box-sizing: border-box;
	position:relative;
}

.mainWrap > .projectInfoWrap > #carouselArea > .subImgArea > .subImg > .delBtn{
	position:absolute;
	top:3px;
	right:3px;
	width:20px;
	height:20px;
	border-radius: 10px;
	background: red;
	font-size:20px;
	font-weight:bold;
	line-height:15px;
	color:white;
	cursor:pointer;
	text-align: center;
	
}

.mainWrap > .projectInfoWrap > #carouselArea > .subImgArea > .subImg > img{
	width:100%;
	height:100%;
}

.mainWrap > .projectInfoWrap > .contentsArea{
	grid-area: contents;
	border:1px solid black;
}

.mainWrap > .projectInfoWrap > .contentsArea > .contents{
	width:100%;
	font-size:16px;
	font-weight: bold;	
	padding:15px 0 0 15px;
	line-height: 30px;
}

.mainWrap > .projectInfoWrap > .contentsArea > .contents > ul > .videoFileBtn > #videoFile{
	display:none;
}
.mainWrap > .projectInfoWrap > .contentsArea > .contents > ul > .videoFileBtn > .videoFile{
	width:80px;
	background: #eee;
	cursor:pointer;
	text-align: center;
	display: inline-block;
	border-radius: 6px;
	border:1px solid black;
}

.mainWrap > .projectInfoWrap > .contentsArea > .contents > ul > .videoPreview{
	width:300px;
	padding:20px;
}

.mainWrap > .projectInfoWrap > .contentsArea > .contents > ul > .videoPreview > video{
	width:100%;
}

.mainWrap > .projectInfoWrap > .docsWrap{
	grid-area: docs;
	font-size: 20px;
	overflow-y: scroll;
	border:1px solid black
}


.mainWrap > .projectInfoWrap > .docsWrap > ul {
	width:100%;
	height:100%;
}

.mainWrap > .projectInfoWrap > .docsWrap > ul > li:nth-child(1){
	width:100%;
	height:50px;
	margin-bottom:15px;
	border-bottom:1px outset rgba(255,255,255,0.3);
}

.mainWrap > .projectInfoWrap > .docsWrap > ul > li > .docsTitle{
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	padding-left:15px;
	line-height: 45px;
	
}

.mainWrap > .projectInfoWrap > .docsWrap > ul > li > .addBtn{
	width:auto;
	height:30px;
	float:right;
	margin:10px
}

.mainWrap > .projectInfoWrap > .docsWrap > ul >.docArea{
	width:100%;
	height:auto;
	list-style: circle;
	list-style-position: inside;
	padding:5px;
	box-sizing: border-box;
	position:relative;
	margin-bottom: 20px;
}

.mainWrap > .projectInfoWrap > .docsWrap > ul >.docArea > .docSubjectInput{
	width: 70%;
	height: 30px;
	font-size:14px;
	padding:5px;
	box-sizing: border-box;
}


.mainWrap > .projectInfoWrap > .docsWrap > ul >.docArea > ul > .docContentInput:empty:before{
	content: attr(placeholder);
	color:gray;
}

.mainWrap > .projectInfoWrap > .docsWrap > ul >.docArea > ul > .docContentInput{
	font-size:14px;
	margin:10px auto;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	width:85%;
	height:auto;
	background:white;
	box-sizing: border-box;
	line-height: 20px;
	border:1px solid black;
}


.mainWrap > .projectInfoWrap > .docsWrap > ul >.docArea > ul > .docDelete{
	position: absolute;
	top:5px;
	right:10px;
	background: gray;
	border:1px solid black;
	cursor: pointer;
	color: white;
	font-size:14px;
	width:30px;
	height:15px;
	text-align: cen	ter;
}

.mainWrap > .projectInfoWrap > .reviewArea{
	grid-area: review;
}

.mainWrap > .projectInfoWrap > .complateBtn{
	grid-area: btn;
	width:150px;
	height:70px;
	border:1px solid gray;
	border-radius:3px;
	cursor:pointer;
	background: syan;
	display: block;
	margin:0 auto;
}